*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    background-color: cornflowerblue;
}

.decoration{
    text-decoration: line-through;
}

.cancel{
    color: azure;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 45%;
    padding: 0.25rem;
}